*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #000000;
}
main{
    background-color: #000000;
}
.seccion-card-main{
    padding-left: 10%;
    padding-right: 10%;
    background-color: #000000;
}

.icon{
    width: 300px;
    height: 300px;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bienvenida-h2{
    display: flex;
    font-size:8vw;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
}

.bienvenida-h4{
    font-size:2.5vw;
    padding-left: 20%;
    padding-right: 20%;
} 


/* Efecto imagen creciendo */
.img-card{
    overflow: hidden;
}
.container-img{
    transition: transform 3s;
}
.container-img:hover{
    transform:scale(1.2)
}