*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    
}
img{
    border-radius: 3px;
}
body{
    background-color: #000000;
    background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0);
}

.presentacion{
    /* background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0); */
}

.seccion-card-main{
    padding-left: 10%;
    padding-right: 10%;
    /* background-color: #000000;
    background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0); */
}

section{
    background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0);
}
.seccion-form{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    /* background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0); */
}

.icon{
    width: 300px;
    height: 300px;
}

.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bienvenida-h2{
    display: flex;
    font-size:5rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
}

.bienvenida-h4{
    font-size:1.5rem;
    padding-left: 20%;
    padding-right: 20%;
} 


/* Efecto imagen creciendo */
.img-card{
    overflow: hidden;
}
.container-img{
    transition: transform 3s;
    border-radius: 3px;
}
.container-img:hover{
    transform:scale(1.2);
    border-radius: 3px;
}

/* card animation */

.card{
    transition: 800ms;
}

.card:hover{
    transition: 800ms;
    transform: scale(1.06, 1.06);
    box-shadow: 0px 0px 15px #75868f;
}

.margens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 9.5%;
    padding-right: 9.5%;
}
.margen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 9.5%;
    padding-right: 9.5%;
}
.content-about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* padding-left: 9.5%;
    padding-right: 9.5%; */
}

.content-about p{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 35px;
    
}
.content-about img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 35px;
    border-radius: 3px;
    
}

/* sección tecnologías */

.tecnologias{
    padding: 5%;
    display: flex;
    
    background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0);
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.tecno{

    display: flex;
    transition: 800ms;
    background-image: linear-gradient(to bottom right, #D0DAE0, #E2EBF0);
    width: 240px;
    height: 240px;
    box-shadow: 0px 0px 10px 0px #75868f;
    border-radius: 3rem;
    margin-top: 6%;
    margin-bottom: 6%;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.tecno:hover{
    transition: 800ms;
    transform: scale(1.06, 1.06);
    box-shadow: 0px 0px 20px 10px #75868f;
}

.tecno1{
    background-color: blue;
    width: 350px;
    height: 350px;
    border: solid 1px white;
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, #28313B, #485461);
    width: 100%;
    height: 400px;
}

.title-tecnologias{
    display: flex;
    justify-content: center;
}

.social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.social-media li, ul, i{
    color: #D0DAE0;
    text-decoration: none;
}
.social-media ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0%;
}
.social-media li{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.social-media a{
    text-decoration: none;
    color: #D0DAE0;
}

.symbol{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}